body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
header{
    padding: 20px;
    color: crimson;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    
}
nav li{
    margin-right: 20px;
}
nav a{
    color:red;
    text-decoration: none;
}
nav a:hover{
    color:blue
}

.sec{
    background-image: url('https://www.shutterstock.com/image-photo/scenic-panoramic-view-idyllic-rolling-260nw-1451367608.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sec h2{
    margin-bottom: 20px;
    font-size: 48px;
}
.sec button{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 10px 20px;
    font-size: 24px ;
    cursor: pointer;
}
.fetu{
    background-color: blueviolet;
    padding: 50px;
}
.fetu h3{
    font-size: 38px;
    margin-bottom: 20px;
    color: brown;
}
.fetu li{
    display: flex;
    margin-bottom: 40px;
}
.fetu h4{
    font-size: 25px;
    margin-bottom: 20px;
}
.fetu p{
    font-size: 15px;
    margin: 0;
    margin-left: 20px;
    line-height: 18px;
}
.cta{
    background-color: #333;
    color: whitesmoke;
}
.cta h3{
    font-size: 36px;
    margin-bottom: 20px;
}
h1{
    color: red;
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: yellowgreen;
    color: deeppink;
    padding: 20px;
    text-align: center;
}
footer p{
    margin: 0;
}
.cta button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}
@media screen and (max-width:768px){
    nav{
        margin-top: 20px;
    }
    .sec{
        height: auto;
    }
    .sec h2{
        font-size: 36px;
    }
    .sec button{
        font-size: 20px;
        pad: 8px 16px;
    }
    .fetu{
        padding: 20px;
    }
    .fetu li{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fetu h4{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .fetu p{
        margin: 0;
    }
    .cta h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .cta button{
        font-size: 20px;
        padding: 8px 16px;
    }
}